*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    position: relative;
    height: 100%;
    width: 100%;
}
.box_video{
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: #42C2FF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.main_video{
    width: 100px;
    height: 30px;
    position: absolute;
    border: 1px solid #333;
    margin: 10px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px ;
    color: red;
}

.body_video{
    display: none;
    justify-content: center;
    align-items: center;
    transform: scale(0.5,0.5);
}



/* .main .close_video{
    width: 40px;
    height: 40px;
    background-color: #2087b8;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.style_number{
    display: none;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.open{
    display: flex;
}

.number{
    width: 40px;
    height: 40px;
    margin: 10px;
    background-color: #42C2FF;
    color: aliceblue;
    font-weight: 900;
    border-radius: 50%;
    border: 1px solid #333 ;
    box-shadow: inset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number:hover{
    border: 1px solid rgb(42, 158, 94);
    opacity: 0.7;
    
}